body{
    font-size: 100%;
    background: linear-gradient(180deg, #53a4ca 16.62%, #001d5c 85.61%);
}


.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.cabecalho-nav {
    display: flex;
    gap: 35px;

}

.cabecalho-item{
    font-family: 'Sarala', sans-serif ;
    color: rgba(255, 255, 255, 0.993);
    font-weight: 400;
    font-size: 18px;
}
.cabecalho-imagemlogo1 {
    width: 80px;
    border: 5px ;
    border-radius: 50%;

}
.titulo-principal {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    
    margin: 0 0 1em;
    clear: left;
    font-family: "sarala", sans-serif;
    color: white;

}

.conteudo{
    border-top: 0.4px solid white;
    margin-bottom:  48px;
}
.conteudo-apresentacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-escrito{
    display: flex;
    flex-direction: column;
    gap:  32px;
}
.titulo-conteudo-principal{
    padding: 24px 0 ;
    font-family: "sarala", sans-serif;
    font-size: 2em;
    font-weight: 400;
    clear: left;
    font-family: "sarala", sans-serif;
    color: white;
}

p, ul, h2 {
    font-family: "sarala", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff
  
}
.button-orcamento{
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    box-shadow:4px 5px 4px #070808 ;
    background-color: #ec0e0e;
    font-family: "sarala", sans-serif;
    box-shadow:4px 5px 4px #070808 ;
}
.imagem_intro{
    height: 430px;
  padding: 24px 0;
    border-radius: 50% ;
}

.servicos, .mapa,.contato {
    display: flex;
    flex-direction: column;
    padding: 3em;
    /*background: rgba(255, 255, 255, 0.533);*/
    align-items: center;
    text-align: center;
    gap: 24px;
    margin-top: 48px ;
}

.titulo-principal-servico, .titulo-principal-contato, .titulo-principal-localizacao{
    border-top: 0.4px solid white;
    padding-top: 48px;
    margin-bottom: 50px;
    font-family: "sarala", sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    color: #ffffff;
    
}
.itens {
    line-height: 1.5em;
}

.mapa {
    padding: 3em 0;
    /*background: linear-gradient(#fefefe, #8888);*/
}
.mapa p {
    margin: 2em;
    text-align: center;

}
.conteudo-mapa {
    width: 940px;

    margin: 0 auto;
}

