body {
    font-size: 100%;
    background: linear-gradient(180deg, #53a4ca 16.62%, #001d5c 85.61%);
}


.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-nav {
    display: flex;
    gap: 35px;

}

.cabecalho-item {
    font-family: 'Sarala', sans-serif;
    color: rgba(255, 255, 255, 0.993);
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-imagemlogo1 {
    width: 80px;
    border: 5px;
    border-radius: 50%;

}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    font-weight: 400;

    margin: 0 0 1em;
    clear: left;
    font-family: "sarala", sans-serif;
    color: white;

}

.conteudo {
    border-top: 0.4px solid white;
    margin-bottom: 48px;
}

.conteudo-apresentacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.titulo-conteudo-principal {
    padding: 24px 0;
    font-family: "sarala", sans-serif;
    font-size: 2em;
    font-weight: 400;
    clear: left;

    color: white;
}

p,
ul,
h2 {
    font-family: "sarala", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff
}

.button-orcamento {
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px #070808;
    background-color: #ec0e0e;


    font-family: Arial, Helvetica, sans-serif;
    color: rgba(254, 254, 255, 0.993);
    font-weight: 400;
    font-size: 20px;

}

.imagem_intro {
    height: 430px;
    padding: 24px 0;
    border-radius: 50%;
}

.servicos,
.mapa,
.contato {
    display: flex;
    flex-direction: column;
    padding: 3em;
    /*background: rgba(255, 255, 255, 0.533);*/
    align-items: center;
    text-align: center;
    gap: 24px;
    margin-top: 48px;
}

.titulo-principal-servico,
.titulo-principal-contato,
.titulo-principal-localizacao {
    border-top: 0.4px solid white;
    padding-top: 48px;
    margin-bottom: 50px;
    font-family: "sarala", sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    color: #ffffff;

}

.itens {
    line-height: 1.5em;
    margin-bottom: 10px;
}

.carrosel-servico {
    box-shadow: 2px 2px 4px;
    overflow: hidden;
    height: 500px;
    width: 500px;
}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

#img {
    object-fit: cover;
    height: 500px;
    width: 500px;
}

.mapa {
    padding: 3em 0;
    /*background: linear-gradient(#fefefe, #8888);*/
}

.mapa p {
    margin: 2em;
    text-align: center;

}

.conteudo-mapa {
    width: 940px;

    margin: 0 auto;
}

.conteudo-contato {
    display: flex;
    flex-direction: column;

    padding: 30px;

}

footer {
    border-top: 0.4px solid white;
    padding-top: 48px;
}

.conteudo-rodape {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;

}